{% if site.show_albums %}
  <h1 class="title"><span>{{site.albums_title}}</span></h1>

<p class="subtitle">
  My releases (own label)&#58
</p>

  <div class="albums-wrapper">
    {% for album in site.data.albums %}
      <div class="album neumorphism-card" data-aos="zoom-in-down">
        <div class="name-link-wrapper">
          <h3>{{album.name}}</h3>
        </div>
        <p class="album-desc">{{album.descr}}</p>
        {% if album.demo %}
          <a class="highlight-link" href="{{album.demo}}" target="_blank" rel="noreferrer">
          <img src="{{album.image}}" width=200px!important padding=5px!important><br><br>🎧 Preview 
          </a>
        {% endif %}
        {% if album.tags %}
          <div class="tag-wrapper">
            {% for tag in album.tags %}
              <span class="tag neumorphism-card">{{tag.tag}}</span>
            {% endfor %}
          </div>
        {% endif %}
      </div>
    {% endfor %}
  </div>

<p class="subtitle">
  My releases (not my own label)&#58
</p>

  <div class="albums-wrapper">
    {% for albumtwo in site.data.albumtwos %}
      <div class="album neumorphism-card" data-aos="zoom-in-down">
        <div class="name-link-wrapper">
          <h3>{{albumtwo.name}}</h3>
        </div>
        <p class="album-desc">{{albumtwo.descr}}</p>
        {% if albumtwo.demo %}
          <a class="highlight-link" href="{{albumtwo.demo}}" target="_blank" rel="noreferrer">
          <img src="{{albumtwo.image}}" width=200px!important padding=5px!important><br><br>🎧 Preview
          </a>
        {% endif %}
        {% if albumtwo.tags %}
          <div class="tag-wrapper">
            {% for tag in albumtwo.tags %}
              <span class="tag neumorphism-card">{{tag.tag}}</span>
            {% endfor %}
          </div>
        {% endif %}
      </div>
    {% endfor %}
  </div>
{% endif %}

{% if site.show_compilations %}
  <h1 class="title"><span>{{site.compilations_title}}</span></h1>

<p class="subtitle">
  My tracks appear on the following compilations / external EPs (not my own label)&#58
</p>

  <div class="compilations-wrapper">
    {% for compilation in site.data.compilations %}
      <div class="album neumorphism-card" data-aos="zoom-in-down">
        <div class="name-link-wrapper">
          <h3>{{compilation.name}}</h3>
        </div>
        <p class="album-desc">{{compilation.descr}}</p>
        {% if compilation.demo %}
          <a class="highlight-link" href="{{compilation.demo}}" target="_blank" rel="noreferrer">
          <img src="{{compilation.image}}" width=200px!important padding=5px!important><br><br>🎧 Preview
          </a>
        {% endif %}
        {% if compilation.tags %}
          <div class="tag-wrapper">
            {% for tag in compilation.tags %}
              <span class="tag neumorphism-card">{{tag.tag}}</span>
            {% endfor %}
          </div>
        {% endif %}
      </div>
    {% endfor %}
  </div>
{% endif %}